<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


<!--加载外部资源文件-->
    <context:property-placeholder location="classpath:/properties/*.properties"/>

    <!--配置试图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--开启注解驱动-->
    <mvc:annotation-driven/>

    <!--扫描Controller包-->
    <context:component-scan base-package="com.dbing.sso.controller"/>


    <!-- 配置dubbo服务 -->
    <dubbo:application name="dbing-sso"/>
    <!-- 使用服务注册中心 -->
    <dubbo:registry protocol="zookeeper" address="192.168.233.101:2181"/>

    <!-- dubbo调用服务 -->
    <dubbo:reference interface="com.dbing.sso.service.TokenUtils" id="tokenUtils" timeout="1000000"></dubbo:reference>
    <dubbo:reference interface="com.dbing.sso.service.RedisService" id="redisService" timeout="1000000"></dubbo:reference>
    <dubbo:reference interface="com.dbing.sso.service.UserService" id="userService" timeout="1000000"></dubbo:reference>


</beans>