<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--SqlSessionFactory 整合数据源、mybatis全局配置文件、扫描mapper映射文件、配置别名、-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!--扫描mapper映射文件-->
        <property name="mapperLocations" value="classpath:mybatis/mappers/*.xml"/>
       <!-- 扫描pojo,配置别名-->
        <property name="typeAliasesPackage" value="com.dbing.manager.pojo"/>
    </bean>

    <!-- 定义数据源，使用自己实现的数据源 -->
    <!--路由数据源-->
    <!--<bean id="dataSource" class="com.dbing.manager.datasource.DynamicDataSource">
        &lt;!&ndash; 设置多个数据源 &ndash;&gt;
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                &lt;!&ndash; 这个key需要和程序中的key一致 &ndash;&gt;
                <entry key="master" value-ref="masterDataSource"/>
                <entry key="slave" value-ref="slave01DataSource"/>
            </map>
        </property>
        &lt;!&ndash; 设置默认的数据源，这里默认走写库 &ndash;&gt;
        <property name="defaultTargetDataSource" ref="masterDataSource"/>
    </bean>-->

    <!--扫描Dao代理接口对象 MapperScannerConfigurer-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dbing.mappers"/>
    </bean>

</beans>