<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置Dubbo -->
    <!--1.指定Dubbo应用名称-->
    <dubbo:application name="dbing_manager"/>
    <!--2.指定注册中心地址-->
    <dubbo:registry protocol="zookeeper" address="192.168.233.101:2181"/>
    <!--3.指定Dubbo服务对象的获取-->
    <dubbo:protocol name="dubbo" port="20880"/>
    
    <!--4.暴露服务-->
    <dubbo:service interface="com.dbing.manager.services.TestInterface" ref="testInterfaceImpl"/>
    <dubbo:service interface="com.dbing.manager.services.CategoryService" ref="categoryServiceImpl"/>
    <dubbo:service interface="com.dbing.manager.services.ProductService" ref="productServiceImpl"/>
    <dubbo:service interface="com.dbing.manager.services.RedisService" ref="redisServiceImpl"/>
    <dubbo:service interface="com.dbing.manager.services.ContentCategoryService" ref="contentCategoryServiceImpl"/>
    <dubbo:service interface="com.dbing.manager.services.ContentService" ref="contentServiceImpl"/>


</beans>